TEST=test
MORALIS_API_KEY=YOURAPIKEY

APP_DOMAIN=auth.example.com
NEXTAUTH_URL=https://auth.example.com
NEXTAUTH_SECRET=YOURNEXTAUTHSECRET

INFURA_API_KEY=YOURINFURAAPIKEY

HYDRA_ADMIN_URL=http://127.0.0.1:4445/

WALLETCONNECT_PROJECTID=YOURPROJECTID

PROJECT_NAME="My Project"
PROJECT_URL=https://www.example.com
PROJECT_LOGO_URL=https://www.example.com/media/img/logo.png
PROJECT_ICON_URL=https://www.example.com/media/img/logo.ico
